<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>AuthSAML</name>
        <type>plugin</type>
        <creationDate>2018-08-14</creationDate>
        <last_update>2020-09-26</last_update>
        <author>Frank Niesten</author>
        <authorUrl>https://github.com/e-ucm/Limesurvey-SAML-Authentication.git</authorUrl>
        <version>0.2.0</version>
        <license>GPL 3.0</license>
        <description><![CDATA[Enables SAML2 authentication]]></description>
    </metadata>

    <compatibility>
        <version>4.0</version>
        <version>3.0</version>
    </compatibility>

    <updaters disabled="disabled">
    </updaters>
</config>
